<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.dao.RoleUserDao">
    <!--用户注册默认角色为vip-->
    <insert id="insertRoleUser" parameterType="roleUser">
        insert into sys_role_user(role_id,user_id,loginName) values(#{roleId,},#{userId},#{loginName})
    </insert>
    <!--更新用户角色-->
    <update id="updateUserRole" parameterType="roleUser">
        update sys_role_user set role_id =#{roleId}  where user_id=#{userId};
    </update>
    <!--删除用户对应角色-->
    <delete id="deleteUserRole" parameterType="Integer">
        delete from sys_role_user where user_id=#{userId}
    </delete>
</mapper>